{% extends "base.html" %}
{% block head %}
  <style>
    #content section:first-child {
      background: url(/img/chicago-badge.png) no-repeat top right;
      background-size: 200px;
      padding-top: 120px;
      margin-top: -80px;
    }
  </style>
{% endblock %}
{% block content %}
  <header>
    <h1>Chicago Badges</h1>
    <h2 class="subheader">Words go here</h2>
  </header>

  <section id="content" class="chunked">
    <section>
      <h3>I dunno, stuff.</h3>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </section>
    <section>
      <iframe src="https://docs.google.com/forms/d/1OHCycX2otPUuagi96O2uFnX8AwVwRabr51b8orJRVRk/viewform?embedded=true" width="900" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </section>
    <section>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </section>
  </section>
{% endblock %}
