/* ===[ Animations ]========================================================= */
@-moz-keyframes wiggle {
	0% {
	  -moz-transform: rotate(0deg);
	}

	90% {
	  -moz-transform: rotate(0deg);
	}

	91% {
	  -moz-transform: rotate(-4deg);
	}

	93% {
	  -moz-transform: rotate(4deg);
	}

	94% {
	  -moz-transform: rotate(0deg);
	}

	100% {
	  -moz-transform: rotate(0deg);
	}

}

@-webkit-keyframes wiggle {
	0% {
	  -webkit-transform: rotate(0deg);
	}

	90% {
	  -webkit-transform: rotate(0deg);
	}

	91% {
	  -webkit-transform: rotate(-4deg);
	}

	93% {
	  -webkit-transform: rotate(4deg);
	}

	94% {
	  -webkit-transform: rotate(0deg);
	}

	100% {
	  -webkit-transform: rotate(0deg);
	}

}

@-ms-keyframes wiggle {
	0% {
	  -ms-transform: rotate(0deg);
	}

	90% {
	  -ms-transform: rotate(0deg);
	}

	91% {
	  -ms-transform: rotate(-4deg);
	}

	93% {
	  -ms-transform: rotate(4deg);
	}

	94% {
	  -ms-transform: rotate(0deg);
	}

	100% {
	  -ms-transform: rotate(0deg);
	}

}

@keyframes wiggle {
	0% {
	  transform: rotate(0deg);
	}

	90% {
	  transform: rotate(0deg);
	}

	91% {
	  transform: rotate(-4deg);
	}

	93% {
	  transform: rotate(4deg);
	}

	94% {
	  transform: rotate(0deg);
	}

	100% {
	  transform: rotate(0deg);
	}

}

/* ===[ Core ]=============================================================== */
#content article {
	padding-right: 340px;
}

.avatar {
	float: right;
	width: 315px;
	margin: 75px -340px 0 0;
	background: 0 50% no-repeat;
	position: relative;
}

.avatar .bubble {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 100px;
	padding: 25px;
	margin: -70px -5px 0 0;
	background: url(../images/avatars/speechbubble.png);
	text-align: center;
	display: table;
}

.avatar .bubble .inner {
	display: table-cell;
	vertical-align: middle;
}

/* ===[ Boris ]============================================================== */
/* ===[ Dorothy ]============================================================ */
/* ===[ Gladis ]============================================================= */
.avatar.gladis {
	height: 359px;
	background-image: url(../images/avatars/gladis_body.png);
}

.avatar.gladis .badge {
	width: 113px;
	height: 118px;
	background: url(../images/avatars/gladis_hands.png);
	position: absolute;
	left: 72px;
	top: 121px;
	-moz-animation-duration: 18s;
	-moz-animation-name: wiggle;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-duration: 18s;
	-webkit-animation-name: wiggle;
	-webkit-animation-iteration-count: infinite;
	-ms-animation-duration: 18s;
	-ms-animation-name: wiggle;
	-ms-animation-iteration-count: infinite;
	animation-duration: 18s;
	animation-name: wiggle;
	animation-iteration-count: infinite;
}

/* ===[ Morty ]============================================================== */
